.app-wrapper {
    font-family: sans-serif;
}

.header {
    border-bottom: 1px solid blue;
    padding: 16px 0;
}

.header_container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.header_title-text {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    color: blue;
    margin: 0px;
}

.header_nav{
    display: flex;
    align-items: center;
    
}

.btn {
    cursor: pointer;
}

.btn-text{
    text-transform: uppercase;
    color: blue;
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 0;
}

.btn-text:hover{
    text-decoration: underline;
}

.header_logo{
    display: flex;
    border-radius: 50%;
    background-color: blue;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
}

.header_logo-text {
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    justify-self: center;
}

.main_container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 10px;
}

.form-style{
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    max-width: 500px; 
    border: 2px solid blue;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px 10px;
}

.btn-text-form{
    max-width: fit-content;
}

.form_title{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    color: blue;
    margin: 0 0 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

.text-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.text-control:last-of-type {
    margin-bottom: 40px;
}

.form_label{
    font-size: 18px;
    font-weight: 700;
    color: blue;
    margin-bottom: 5px;
}

.form_input {
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    border: 2px solid blue;
    margin-bottom: 5px;
    padding-left: 5px;
}

.error-message{
    color: rgb(251, 0, 0);
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    padding-left: 5px;
}

.btn-form {
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: blue;
    padding: 8px 16px;
    align-self: flex-end;
}

.btn-form:hover {
    background-color: rgb(0, 0, 134);
}

.board {
    padding-top: 30px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
}

.task-form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    border: 2px solid blue;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 15px 10px;
}

.task-card {
    position: relative;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.task-planned {
    background-color: blue;
}

.task-running {
    background-color: rgb(15, 188, 2);
}

.task-finished {
    background-color: rgb(98, 98, 98);
    text-decoration: line-through;
    text-decoration-color: white;
}

.task-name {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-right: 50px;
}

.task-description {
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
}

.time-tracker {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.timer-btn {
    position: relative;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    border: none;
    margin-right: 8px;
}

.timer-btn:disabled {
    cursor: not-allowed;
    background-color: rgb(50, 50, 50);
    color: white;
}

.time-tracker span {
    color: white;
    font-size: 18px;
}

.task-date {
    color: rgb(205, 205, 205);
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-form-small {
    border-radius: 5px;
    border: 3px solid rgb(255, 255, 255);
    font-weight: 700;
    font-size: 14px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 6px 12px;
    align-self: flex-end;
}

.btn-form-small:hover {
    border: 3px solid black;
}

.task-delete-btn {
    position: absolute;
    border-radius: 50%;
    right: 18px;
    top: 18px;
    width: 26px;
    height: 26px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

@media (max-width: 760px) {
    .board {
        grid-template-columns: 1fr;
    }
}





